
.kanban-container {
  padding: 20px;
  background-color: #f9fafb;
}

.kanban-board {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  /* background-color: #f3f4f6; */
}

.kanban-column {
  flex: 1;
  min-width: 250px;
  border-radius: 8px;
  padding: 10px;
}

.kanban-column h3 {
  font-size: 16px;
  color: #1f2937;
  margin-bottom: 10px;
}

.tickets {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kanban-inner-div{
  display: flex;
}


