
 .kanban-container {
  padding: 20px;
  background-color: #f9fafb;
}

.kanban-board {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.kanban-column {
  flex: 1;
  min-width: 250px;
  border-radius: 8px;
  padding: 10px;
}

.kanban-column h3 {
  font-size: 16px;
  color: #1f2937;
  margin-bottom: 10px;
}

.tickets {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kanban-inner-div {
  display: flex;
}

.kanban-header-content {
  display: flex;
  align-items: center;
  justify-content: start;
}

.kanban-header-icons {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.kanban-header-title {
  margin-left: 10px; 
  flex-grow: 0; 
}

.kanban-header-count {
  margin-top: 5px;
  margin-left: 10px; 
  font-weight: 500; 
}

.kanban-header-actions {
  margin-top: 5px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px; 
} 